<div id="{{link1}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date1}}</h3>
		<div class="description">{{description1}}</div>
		<div class="description">{{seconddescription1}}</div>
	</div>
	<div class="ui ten wide column">
		<div class="description">Join us in the CFA Peace Garden after the first day of studio and the First Day Assembly for food, fun, and friends! Meet the first years and upper years and the 2017-2018 AIAS Board. <br> Rain Location: CFA Great Hall.</div>
	</div>
</div>
<hr>
<div id="{{link2}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date2}}</h3>
		<div class="description">{{description2}}</div>
	</div>
	<div class="ui ten wide column">
		<div class="description"><a href="http://www.pennavenue.org/unblurred" target="_blank">Unblurred Website</a></div>
		<br>
		<div class="description">Unblurred: First Fridays on Penn is a monthly initiative sponsored by the Penn Avenue Arts Initiative, a joint program of the BGC and Friendship Development Associates. What started as an attempt to revitalize Penn Avenue between Negley and Mathilda has transformed into one of the city's hottest cultural events.</div>
		<br>
		<div class="description">Each month, people from all over the region stroll Penn Avenue between the 4800 and 5500 blocks to meet with artists and local business owners. Visitors can expect to see everyone and everything. Families, singles, workers, students, long-time residents and first-time visitors alike can bask in Penn Avenue's creative energy – experiencing a mix of photography, dance, painting, sculpture, music and spoken word performances.</div>
		<a href="http://www.pennavenue.org/unblurred" target="_blank"><img class="image eventsimages" src="http://penn-avenue-www.s3.amazonaws.com/uploads/Unblurred-PULSE.jpg"></a>
		<a href="http://www.pennavenue.org/unblurred" target="_blank"><img class="image eventsimages" src="http://penn-avenue-www.s3.amazonaws.com/uploads/Unblurred-Glass-2.jpg"></a>
	</div>
</div>
<hr>
<div id="{{link3}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date3}}</h3>
		<div class="description">{{description3}}</div>
	</div>
	<div class="ui ten wide column">
		<div class="description">First AIAS GBM! Come meet the board and learn about AIAS and about our past and future events</div>
	</div>
</div>
<hr>
<div id="{{link4}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date4}}</h3>
		<div class="description">{{description4}}</div>
	</div>
	<div class="ui ten wide column">
		<div class="description">Join us in the CFA Peace Garden after the first day of studio and the First Day Assembly for food, fun, and friends! Meet the first years and upper years and the 2017-2018 AIAS Board. <br> Rain Location: CFA Great Hall.</div>
	</div>
</div>
<hr>
<div id="{{link5}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date5}}</h3>
		<div class="description">{{description5}}</div>
	</div>
	<div class="ui ten wide column">
		<div class="description">Join us in the CFA Peace Garden after the first day of studio and the First Day Assembly for food, fun, and friends! Meet the first years and upper years and the 2017-2018 AIAS Board. <br> Rain Location: CFA Great Hall.</div>
	</div>
</div>
<hr>
<div id="{{link6}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date6}}</h3>
		<div class="description">{{description6}}</div>
	</div>
	<div class="ui ten wide column">
		<div class="description">Join us in the CFA Peace Garden after the first day of studio and the First Day Assembly for food, fun, and friends! Meet the first years and upper years and the 2017-2018 AIAS Board. <br> Rain Location: CFA Great Hall.</div>
	</div>
</div>
<hr>
<div id="{{link7}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date7}}</h3>
		<div class="description">{{description7}}</div>
	</div>
	<div class="ui ten wide column">
		<div class="description">Join us in the CFA Peace Garden after the first day of studio and the First Day Assembly for food, fun, and friends! Meet the first years and upper years and the 2017-2018 AIAS Board. <br> Rain Location: CFA Great Hall.</div>
	</div>
</div>