<div id="{{link1}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date1}}</h3>
		<div class="description">{{time1}} | {{description1}}</div>
		<div class="description">{{location1}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description1}}</h3>
		<div class="description">{{text1}}</div>
		<br>
		<div class="description">{{secondtext1}}</div>
	</div>
</div>
<hr>
<div id="{{link2}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date2}}</h3>
		<div class="description">{{time2}} | {{description2}}</div>
		<div class="description">{{location2}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description2}}</h3>
		<div class="description">{{text2}}</div>
		<br>
		<div class="description">{{secondtext2}}</div>
	</div>
</div>
<hr>
<div id="{{link3}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date3}}</h3>
		<div class="description">{{time3}} | {{description3}}</div>
		<div class="description">{{location3}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description3}}</h3>
		<div class="description">{{text3}}</div>
		<br>
		<div class="description">{{secondtext3}}</div>
		<div class="description"><p>See <a href="professional.html">Here.</a></p></div>
	</div>
</div>
<hr>
<div id="{{link4}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date4}}</h3>
		<div class="description">{{time4}} | {{description4}}</div>
		<div class="description">{{location4}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description4}}</h3>
		<div class="description">{{text4}}</div>
		<br>
		<div class="description">{{secondtext4}}</div>
	</div>
</div>
<hr>
<div id="{{link5}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date5}}</h3>
		<div class="description">{{time5}} | {{description5}}</div>
		<div class="description">{{location5}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description5}}</h3>
		<div class="description">{{text5}}</div>
		<br>
		<div class="description">{{secondtext5}}</div>
	</div>
</div>
<hr>
<div id="{{link6}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date6}}</h3>
		<div class="description">{{time6}} | {{description6}}</div>
		<div class="description">{{location6}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description6}}</h3>
		<div class="description">{{text6}}</div>
		<br>
		<div class="description">{{secondtext6}}</div>
	</div>
</div>
<hr>
<div id="{{link7}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date7}}</h3>
		<div class="description">{{time7}} | {{description7}}</div>
		<div class="description">{{location7}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description7}}</h3>
		<div class="description">{{text7}}</div>
		<br>
		<div class="description">{{secondtext7}}</div>
	</div>
</div>
<hr>
<div id="{{link8}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date8}}</h3>
		<div class="description">{{time8}} | {{description8}}</div>
		<div class="description">{{location8}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description8}}</h3>
		<div class="description">{{text8}}</div>
		<br>
		<div class="description">{{secondtext8}}</div>
	</div>
</div>
<hr>
<div id="{{link9}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date9}}</h3>
		<div class="description">{{time9}} | {{description9}}</div>
		<div class="description">{{location9}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description9}}</h3>
		<div class="description">{{text9}}</div>
		<br>
		<div class="description">{{secondtext9}}</div>
	</div>
</div>
<hr>
<div id="{{link10}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date10}}</h3>
		<div class="description">{{time10}} | {{description10}}</div>
		<div class="description">{{location10}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description10}}</h3>
		<div class="description">{{text10}}</div>
		<br>
		<div class="description">{{secondtext10}}</div>
	</div>
</div>
<hr>
<div id="{{link12}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date12}}</h3>
		<div class="description">{{time12}} | {{description12}}</div>
		<div class="description">{{location12}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description12}}</h3>
		<div class="description">{{text12}}</div>
		<br>
		<div class="description">{{secondtext12}}</div>
	</div>
</div>
<hr>
<div id="{{link13}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date13}}</h3>
		<div class="description">{{time13}} | {{description13}}</div>
		<div class="description">{{location13}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description13}}</h3>
		<div class="description">{{text13}}</div>
		<br>
		<div class="description">{{secondtext13}}</div>
	</div>
</div>
<hr>
<div id="{{link14}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date14}}</h3>
		<div class="description">{{time14}} | {{description14}}</div>
		<div class="description">{{location14}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description14}}</h3>
		<div class="description">{{text14}}</div>
		<br>
		<div class="description">{{secondtext14}}</div>
	</div>
</div>
<hr>
<div id="{{link15}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date15}}</h3>
		<div class="description">{{time15}} | {{description15}}</div>
		<div class="description">{{location15}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description15}}</h3>
		<div class="description">{{text15}}</div>
		<br>
		<div class="description">{{secondtext15}}</div>
	</div>
</div>
<hr>
<div id="{{link16}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date16}}</h3>
		<div class="description">{{time16}} | {{description16}}</div>
		<div class="description">{{location16}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description16}}</h3>
		<div class="description">{{text16}}</div>
		<br>
		<div class="description">{{secondtext16}}</div>
	</div>
</div>
<hr>
<div id="{{link17}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date17}}</h3>
		<div class="description">{{time17}} | {{description17}}</div>
		<div class="description">{{location17}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description17}}</h3>
		<div class="description">{{text17}}</div>
		<br>
		<div class="description">{{secondtext17}}</div>
	</div>
</div>
<hr>
<div id="{{link18}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date18}}</h3>
		<div class="description">{{time18}} | {{description18}}</div>
		<div class="description">{{location18}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description18}}</h3>
		<div class="description">{{text18}}</div>
		<br>
		<div class="description">{{secondtext18}}</div>
	</div>
</div>
<hr>
<div id="{{link19}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date19}}</h3>
		<div class="description">{{time19}} | {{description19}}</div>
		<div class="description">{{location19}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description19}}</h3>
		<div class="description">{{text19}}</div>
		<br>
		<div class="description">{{secondtext19}}</div>
	</div>
</div>
<hr>
<div id="{{link20}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date20}}</h3>
		<div class="description">{{time20}} | {{description20}}</div>
		<div class="description">{{location20}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description20}}</h3>
		<div class="description">{{text20}}</div>
		<br>
		<div class="description">{{secondtext20}}</div>
	</div>
</div>
<hr>
<div id="{{link21}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date21}}</h3>
		<div class="description">{{time21}} | {{description21}}</div>
		<div class="description">{{location21}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description21}}</h3>
		<div class="description">{{text21}}</div>
		<br>
		<div class="description">{{secondtext21}}</div>
	</div>
</div>
<hr>
<div id="{{link22}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date22}}</h3>
		<div class="description">{{time22}} | {{description22}}</div>
		<div class="description">{{location22}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description22}}</h3>
		<div class="description">{{text22}}</div>
		<br>
		<div class="description">{{secondtext22}}</div>
	</div>
</div>
<hr>
<div id="{{link23}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date23}}</h3>
		<div class="description">{{time23}} | {{description23}}</div>
		<div class="description">{{location23}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description23}}</h3>
		<div class="description">{{text23}}</div>
		<br>
		<div class="description">{{secondtext23}}</div>
	</div>
</div>
<hr>
<div id="{{link24}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date24}}</h3>
		<div class="description">{{time24}} | {{description24}}</div>
		<div class="description">{{location24}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description24}}</h3>
		<div class="description">{{text24}}</div>
		<br>
		<div class="description">{{secondtext24}}</div>
	</div>
</div>
<hr>
<div id="{{link27}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date27}}</h3>
		<div class="description">{{time27}} | {{description27}}</div>
		<div class="description">{{location27}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description27}}</h3>
		<div class="description">{{text27}}</div>
		<br>
		<div class="description">{{secondtext27}}</div>
	</div>
</div>
<hr>
<div id="{{link25}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date25}}</h3>
		<div class="description">{{time25}} | {{description25}}</div>
		<div class="description">{{location25}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description25}}</h3>
		<div class="description">{{text25}}</div>
		<br>
		<div class="description">{{secondtext25}}</div>
	</div>
</div>
<hr>
<div id="{{link26}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date26}}</h3>
		<div class="description">{{time26}} | {{description26}}</div>
		<div class="description">{{location26}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description26}}</h3>
		<div class="description">{{text26}}</div>
		<br>
		<div class="description">{{secondtext26}}</div>
	</div>
</div>
<hr>
