<div id="{{link1}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date1}}</h3>
		<div class="description">{{time1}} | {{description1}}</div>
		<div class="description">{{location1}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description1}}</h3>
		<div class="description">{{text1}}</div>
		<br>
		<div class="description">{{secondtext1}}</div>
	</div>
</div>
<hr>
<div id="{{link2}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date2}}</h3>
		<div class="description">{{time2}} | {{description2}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description2}}</h3>
		<div class="description">{{text2}}</div>
		<br>
		<div class="description">{{secondtext2}}</div>
	</div>
</div>
<hr>
<div id="{{link3}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date3}}</h3>
		<div class="description">{{time3}} | {{description3}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description3}}</h3>
		<div class="description">{{text3}}</div>
		<br>
		<div class="description">{{secondtext3}}</div>
	</div>
</div>
<hr>
<div id="{{link4}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date4}}</h3>
		<div class="description">{{time4}} | {{description4}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description4}}</h3>
		<div class="description">{{text4}}</div>
		<br>
		<div class="description">{{secondtext4}}</div>
		<a href="http://www.pennavenue.org/unblurred" target="_blank"><img class="eventsimages" src="img/unblurred/unblurred1.jpg"></a>
		<a href="http://www.pennavenue.org/unblurred" target="_blank"><img class="eventsimages" src="img/unblurred/unblurred2.jpg"></a>
	</div>
</div>
<hr>
<div id="{{link5}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date5}}</h3>
		<div class="description">{{time5}} | {{description5}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description5}}</h3>
		<div class="description">{{text5}}</div>
		<br>
		<div class="description">{{secondtext5}}</div>
	</div>
</div>
<hr>
<div id="{{link14}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date14}}</h3>
		<div class="description">{{time14}} | {{description14}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description14}}</h3>
		<div class="description">{{text14}}</div>
		<br>
		<div class="description">{{secondtext14}}</div>
		<p>Learn more about Freedom By Design <a href="http://www.aias.org/programs/freedom-by-design/" target="blank">here</a></p>
	</div>
</div>
<hr>
<div id="{{link6}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date6}}</h3>
		<div class="description">{{time6}} | {{description6}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description6}}</h3>
		<div class="description">{{text6}}</div>
		<br>
		<div class="description">{{secondtext6}}</div>
	</div>
</div>
<hr>
<div id="{{link7}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date7}}</h3>
		<div class="description">{{time7}} | {{description7}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description7}}</h3>
		<div class="description">{{text7}}</div>
		<br>
		<div class="description">{{secondtext7}}</div>
	</div>
</div>
<hr>
<div id="{{link8}}" class="ui two stackable column grid disabled">
	<div class="ui six wide column">
		<h3 class="ui header">{{date8}}</h3>
		<div class="description">{{time8}} | {{description8}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description8}}</h3>
		<div class="description">{{text8}}</div>
		<br>
		<div class="description">{{secondtext8}}</div>
		<a href="http://ikminc.com/" target="_blank"><img class="eventsimages" src="img/ikm/ikm1.jpg"></a>
		<a href="http://ikminc.com/" target="_blank"><img class="eventsimages" src="img/ikm/ikm2.jpg"></a>
	</div>
</div>
<hr>
<div id="{{link9}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date9}}</h3>
		<div class="description">{{time9}} | {{description9}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description9}}</h3>
		<div class="description">{{text9}}</div>
		<br>
		<div class="description">{{secondtext9}}</div>
	</div>
</div>
<hr>
<div id="{{link10}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date10}}</h3>
		<div class="description">{{time10}} | {{description10}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description10}}</h3>
		<div class="description">{{text10}}</div>
		<br>
		<div class="description">{{secondtext10}}</div>
	</div>
</div>
<hr>
<div id="{{link11}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date11}}</h3>
		<div class="description">{{time11}} | {{description11}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description11}}</h3>
		<div class="description">{{text11}}</div>
		<br>
		<div class="description">{{secondtext11}}</div>
	</div>
</div>
<hr>
<div id="{{link12}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date12}}</h3>
		<div class="description">{{time12}} | {{description12}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description12}}</h3>
		<div class="description">{{text12}}</div>
		<br>
		<div class="description">{{secondtext12}}</div>
	</div>
</div>
<hr>
<div id="{{link13}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date13}}</h3>
		<div class="description">{{time13}} | {{description13}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description13}}</h3>
		<div class="description">{{text13}}</div>
		<br>
		<div class="description">{{secondtext13}}</div>
	</div>
</div>
<hr>
<div id="{{link15}}" class="ui two stackable column grid">
	<div class="ui six wide column">
		<h3 class="ui header">{{date15}}</h3>
		<div class="description">{{time15}} | {{description15}}</div>
	</div>
	<div class="ui ten wide column">
		<h3 class="ui header">{{description15}}</h3>
		<div class="description">{{text15}}</div>
		<br>
		<div class="description">{{secondtext15}}</div>
	</div>
</div>
<hr>
