<div class="ui vertical menu " id="resourcesverticalmenu">
  <a class="{{itemmembership}}" href="membership.html">Membership</a>
  <a class="{{itemprofessional}}" href="professional.html">Professional</a>
  <a class="{{itemcommunity}}" href="community.html">Community</a>
  <a class="{{itemnational}}" href="national.html">National</a>
  <!--<a class="{{itemmemberdrive}}" href="national.html" target = "_blank">Member Drive</a>-->
</div>