<div class="ui medium header">Upcoming Events</div>

<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link1}}">
    <div class="ui small header">{{date1}}</div>
    <div class="ui medium description">
      {{description1}}
    </div>
    <hr>
    <div class="ui small description">
      {{time1}} - {{location1}}
    </div>
    </a>
  </div>
</div>
<!-- <div class="ui link card">
  <div class="content">
    <a href="events.html#{{link19}}">
    <div class="ui small header">{{date19}}</div>
    <div class="ui medium description">
      {{description19}}
    </div>
    <hr>
    <div class="ui small description">
      {{time19}} - {{location19}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link20}}">
    <div class="ui small header">{{date20}}</div>
    <div class="ui medium description">
      {{description20}}
    </div>
    <hr>
    <div class="ui small description">
      {{time20}} - {{location20}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link21}}">
    <div class="ui small header">{{date21}}</div>
    <div class="ui medium description">
      {{description21}}
    </div>
    <hr>
    <div class="ui small description">
      {{time21}} - {{location21}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link22}}">
    <div class="ui small header">{{date22}}</div>
    <div class="ui medium description">
      {{description22}}
    </div>
    <hr>
    <div class="ui small description">
      {{time22}} - {{location22}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link23}}">
    <div class="ui small header">{{date23}}</div>
    <div class="ui medium description">
      {{description23}}
    </div>
    <hr>
    <div class="ui small description">
      {{time23}} - {{location23}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link24}}">
    <div class="ui small header">{{date24}}</div>
    <div class="ui medium description">
      {{description24}}
    </div>
    <hr>
    <div class="ui small description">
      {{time24}} - {{location24}}
    </div>
    </a>
  </div>
</div>

<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link27}}">
    <div class="ui small header">{{date27}}</div>
    <div class="ui medium description">
      {{description27}}
    </div>
    <hr>
    <div class="ui small description">
      {{time27}} - {{location27}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link25}}">
    <div class="ui small header">{{date25}}</div>
    <div class="ui medium description">
      {{description25}}
    </div>
    <hr>
    <div class="ui small description">
      {{time25}} - {{location25}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link26}}">
    <div class="ui small header">{{date26}}</div>
    <div class="ui medium description">
      {{description26}}
    </div>
    <hr>
    <div class="ui small description">
      {{time26}} - {{location26}}
    </div>
    </a>
  </div>
</div> -->
<!-- <div class="ui link card">
  <div class="content">
    <a href="events.html#{{link17}}">
    <div class="ui small header">{{date17}}</div>
    <div class="ui medium description">
      {{description17}}
    </div>
    <hr>
    <div class="ui small description">
      {{time17}} - {{location17}}
    </div>
    </a>
  </div>
</div> -->

<div class="ui vertical segment right aligned">
  <div class="ui two column grid">
    <div class="left aligned column">
      <h4 class="small">Follow us on social media for more updates!</h4>
    </div>
    <div class="centered column">
      <a class="socialmediaicon" alt="facebook icon" target="blank" href="https://www.facebook.com/aias.cmu"><i class="big facebook f icon"></i></a>
      <a class="socialmediaicon" alt="instagram icon" target="blank" href="https://www.instagram.com/aiascmu/"><i class="big instagram icon"></i></a>
    </div>
  </div>
</div>
