<div class="ui medium header">Upcoming Events</div>

<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link12}}">
    <div class="ui small header">{{date12}}</div>
    <div class="ui medium description">
      {{description12}}
    </div>
    <hr>
    <div class="ui small description">
      {{time12}} - {{location12}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link13}}">
    <div class="ui small header">{{date13}}</div>
    <div class="ui medium description">
      {{description13}}
    </div>
    <hr>
    <div class="ui small description">
      {{time13}} - {{location13}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link14}}">
    <div class="ui small header">{{date14}}</div>
    <div class="ui medium description">
      {{description14}}
    </div>
    <hr>
    <div class="ui small description">
      {{time14}} - {{location14}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link15}}">
    <div class="ui small header">{{date15}}</div>
    <div class="ui medium description">
      {{description15}}
    </div>
    <hr>
    <div class="ui small description">
      {{time15}} - {{location15}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link16}}">
    <div class="ui small header">{{date16}}</div>
    <div class="ui medium description">
      {{description16}}
    </div>
    <hr>
    <div class="ui small description">
      {{time16}} - {{location16}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link17}}">
    <div class="ui small header">{{date17}}</div>
    <div class="ui medium description">
      {{description17}}
    </div>
    <hr>
    <div class="ui small description">
      {{time17}} - {{location17}}
    </div>
    </a>
  </div>
</div>

<div class="ui vertical segment right aligned">
  <div class="ui two column grid">
    <div class="left aligned column">
      <h4 class="small">Follow us on social media for more updates!</h4>
    </div>
    <div class="centered column">
      <a class="socialmediaicon" alt="facebook icon" target="blank" href="https://www.facebook.com/aias.cmu"><i class="big facebook f icon"></i></a>
      <a class="socialmediaicon" alt="instagram icon" target="blank" href="https://www.instagram.com/aiascmu/"><i class="big instagram icon"></i></a>
    </div>
  </div>
</div>
