<div class="ui medium header">Upcoming Events</div>

<!-- <div class="ui link card">
  <div class="content">
    <a href="calendar.html#{{link1}}">
    <div class="ui small header">{{date1}}</div>
    <div class="ui medium description">
      {{description1}}
    </div>
    <hr>
    <div class="ui small description">
      {{time1}} - {{location1}}
    </div>
    </a>
  </div>
</div> -->
<div class="ui link card" style="width: 100%;">
  <div class="content">
    <a href="calendar.html">
    <div class="ui medium description">
      See our full calendar here!
    </div>
    <hr>
    </a>
  </div>
</div>
