<div class="ui medium header">Upcoming Events</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link6}}">
    <div class="ui small header">{{date6}}</div>
    <div class="ui medium description">
      {{description6}}
    </div>
    <hr>
    <div class="ui small description">
      {{time6}} - {{location6}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link7}}">
    <div class="ui small header">{{date7}}</div>
    <div class="ui medium description">
      {{description7}}
    </div>
    <hr>
    <div class="ui small description">
      {{time7}} - {{location7}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link8}}">
    <div class="ui small header">{{date8}}</div>
    <div class="ui medium description">
      {{description8}}
    </div>
    <hr>
    <div class="ui small description">
      {{time8}} - {{location8}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link9}}">
    <div class="ui small header">{{date9}}</div>
    <div class="ui medium description">
      {{description9}}
    </div>
    <hr>
    <div class="ui small description">
      {{time9}} - {{location9}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link10}}">
    <div class="ui small header">{{date10}}</div>
    <div class="ui medium description">
      {{description10}}
    </div>
    <hr>
    <div class="ui small description">
      {{time10}} - {{location10}}
    </div>
    </a>
  </div>
</div>
<!-- <div class="ui link card">
  <div class="content">
    <a href="events.html#{{link9}}">
    <div class="ui small header">{{date9}}</div>
    <div class="ui medium description">
      {{description9}}
    </div>
    <hr>
    <div class="ui small description">
      {{time9}} - {{location9}}
    </div>
    </a>
  </div>
</div> -->
<div class="ui vertical segment right aligned">
  <div class="ui two column grid">
    <div class="left aligned column">
      <h4 class="small">Follow us on social media for more updates!</h4>
    </div>
    <div class="centered column">
      <a class="socialmediaicon" alt="facebook icon" target="blank" href="https://www.facebook.com/aias.cmu"><i class="big facebook f icon"></i></a>
      <a class="socialmediaicon" alt="instagram icon" target="blank" href="https://www.instagram.com/aiascmu/"><i class="big instagram icon"></i></a>
    </div>
  </div>
</div>
