<div class="ui medium header">Upcoming Events</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link1}}">
    <div class="ui small header">{{date1}}</div>
    <div class="ui medium description">
      {{description1}}
    </div>
    <hr>
    <div class="ui small description">
      {{time1}} - {{location1}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link2}}">
    <div class="ui small header">{{date2}}</div>
    <div class="ui medium description">
      {{description2}}
    </div>
    <hr>
    <div class="ui small description">
      {{time2}} - {{location2}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link3}}">
    <div class="ui small header">{{date3}}</div>
    <div class="ui medium description">
      {{description3}}
    </div>
    <hr>
    <div class="ui small description">
      {{time3}} - {{location3}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link4}}">
    <div class="ui small header">{{date4}}</div>
    <div class="ui medium description">
      {{description4}}
    </div>
    <hr>
    <div class="ui small description">
      {{time4}} - {{location4}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="events.html#{{link5}}">
    <div class="ui small header">{{date5}}</div>
    <div class="ui medium description">
      {{description5}}
    </div>
    <hr>
    <div class="ui small description">
      {{time5}} - {{location5}}
    </div>
    </a>
  </div>
</div>
<div class="ui vertical segment right aligned">
  <div class="ui two column grid">
    <div class="left aligned column">
      <h4 class="small">Follow us on social media for more updates!</h4>
    </div>
    <div class="centered column">
      <a class="socialmediaicon" alt="facebook icon" target="blank" href="https://www.facebook.com/aias.cmu"><i class="big facebook f icon"></i></a>
      <a class="socialmediaicon" alt="instagram icon" target="blank" href="https://www.instagram.com/aiascmu/"><i class="big instagram icon"></i></a>
    </div>
  </div>
</div>
