<div class="ui medium header">Upcoming Events</div>
<div class="ui link card">
  <div class="content">
    <a href="{{link1}}">
    <div class="ui small header">{{date1}}</div>
    <div class="ui medium description">
      {{description1}}
    </div>
    <hr>
    <div class="ui medium description">
      {{seconddescription1}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="{{link2}}">
    <div class="ui small header">{{date2}}</div>
    <div class="medium description">
      {{description2}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="{{link3}}">
    <div class="ui small header">{{date3}}</div>
    <div class="medium description">
      {{description3}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="{{link4}}">
    <div class="ui small header">{{date4}}</div>
    <div class="medium description">
      {{description4}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="{{link5}}">
    <div class="ui small header">{{date5}}</div>
    <div class="medium description">
      {{description5}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="{{link6}}">
    <div class="ui small header">{{date6}}</div>
    <div class="medium description">
      {{description6}}
    </div>
    </a>
  </div>
</div>
<div class="ui link card">
  <div class="content">
    <a href="{{link7}}">
    <div class="ui small header">{{date7}}</div>
    <div class="medium description">
      {{description7}}
    </div>
    </a>
  </div>
</div>
<div class="ui vertical segment right aligned">
  <div class="ui two column grid">
    <div class="left aligned column">
      <h4 class="small">Follow us on social media for more updates!</h4>
    </div>
    <div class="centered column">
      <a class="socialmediaicon" alt="facebook icon" target="blank" href="https://www.facebook.com/aias.cmu"><i class="big facebook f icon"></i></a>
      <a class="socialmediaicon" alt="instagram icon" target="blank" href="https://www.instagram.com/aiascmu/"><i class="big instagram icon"></i></a>
    </div>
  </div>
</div>
